<div> 
        <mat-spinner *ngIf="heros==undefined"></mat-spinner>

    <ul class="heroes">
        <li *ngFor="let hero of heros" class="hero-item">
            <a routerLink="/detail/{{hero.id}}" routerLinkActive="router-link-active" >
            <span class="badge">ID: {{hero.id}}</span>
             {{hero.name}}
            </a>
            <button (click)="delete(hero)" >X</button>
        </li>
    </ul>
    <div>
        <h3>
            Add new hero
        </h3>
        <div>
            <label>Name
                <input [(ngModel)]="newHero.name" />

            </label>
            <button (click)="add()">Add new hero</button>
        </div>
    </div>
 
</div>