<div class="row">
  <div class="col-12 ">

    <form #form="ngForm" (ngSubmit)="submit()">
      <mat-form-field class="full-with-field">
        <input matInput ngModel
               type="text"
               required email
               placeholder="Recipe name" name="name" #nameFormControl="ngModel">
        <mat-error *ngIf="nameFormControl.invalid">
          {{nameFormControl.hasError("required") ? " Can not be empty" : ""}}
          {{nameFormControl.hasError("email") ? " Please enter a valid email address" : ""}}

        </mat-error>
      </mat-form-field>


      <mat-form-field class="full-with-field">
        <textarea matInput matTextareaAutosize ngModel
                  placeholder="Recipe description" name="description"></textarea>
      </mat-form-field>

      <button [disabled]="form.invalid" mat-raised-button
              color="primary">{{editMode ? 'Edit' : 'Create new recipe'}}</button>
    </form>
  </div>

</div>
