<mat-card *ngIf="recipe;else noRecipe">
  <mat-card-header>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img [src]="recipe.imagePath" alt="" class="img-">
    <div>{{recipe.description}}</div>


    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addIngredients()">Add Ingeredient to Shopping list</a>
        <a class="dropdown-item" routerLink="edit">Edit recipe</a>
        <a class="dropdown-item" href="#">elete recipe</a>
      </div>
    </div>
    Ingredients:
    <ul class="list-group">

      <a class="list-group-item" *ngFor="let ingredient of recipe.ingredients" matRipple>
        {{ingredient.name}} {{ingredient.amount}}
      </a>
    </ul>
  </mat-card-content>
</mat-card>
<ng-template #noRecipe>No recipe found</ng-template>
