
<mat-card>
  <mat-card-header>
    <mat-card-title>{{recipe.name}}</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <img [src]="recipe.imagePath" alt="" class="img-">
      <div>{{recipe.description}}</div>
      
      <div class="btn-group">
          <button class="btn btn-primary dropdown-toggle">
            Manage recipe
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="">Add Ingeredient to Shopping list</a></li>
            <li><a href="">Edit recipe</a></li>
            <li><a href="">Delete recipe</a></li>
          </ul>
        </div>
  </mat-card-content>
</mat-card>
