<div class="row">
  <div class="col-12">
    <form #form="ngForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-3">

          <mat-form-field floatPlaceholder="auto">
            <input matInput
                   type="text"
                   required
                   placeholder="Name" ngModel name="name">
          </mat-form-field>


        </div>
        <div class="col-3">
          <mat-form-field floatPlaceholder="auto">
            <input matInput
                   type="number"
                   required
                   placeholder="Amount" ngModel name="amount">
          </mat-form-field>
        </div>


      </div>
      <div class="row">
        <div class="col-12">
          <button mat-button color="primary" type="submit"
                  [disabled]="form.invalid">{{ isEditMode ? "Edit" : "Add" }}</button>
          <button mat-button color="accent" (click)="onDelete()" type="button" *ngIf="isEditMode">Delete</button>
          <button mat-button color="warn" (click)="onClear()" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
